# Hyperspace Build
trigger:
  batch: true
  branches:
    include:
      - master

jobs:
  - job: Build_2_11
    displayName: 'Build sources and run unit tests for Scala 2.11'
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
      - task: JavaToolInstaller@0
        displayName: 'Set Java version'
        inputs:
          versionSpec: '8'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - script: sbt ++2.11.12 clean
        displayName: 'Running $sbt clean'
      - script: sbt ++2.11.12 update
        displayName: 'Running $sbt update'
      - script: sbt ++2.11.12 compile
        displayName: 'Running $sbt compile'
      - script: sbt ++2.11.12 test
        displayName: 'Running $sbt test'
      # If not a pull request, publish artifacts.
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        - script: sbt ++2.11.12 package
          displayName: 'Running $sbt package'
        - task: CopyFiles@2
          displayName: 'Copy hyperspace-core JAR'
          inputs:
            sourceFolder: '$(Build.SourcesDirectory)/target/'
            contents: '**/*.jar'
            targetFolder: '$(Build.ArtifactStagingDirectory)/hyperspace-core/'
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Hyperspace artifacts'
          inputs:
            artifactName: 'hyperspace-core'
            pathtoPublish: '$(Build.ArtifactStagingDirectory)/hyperspace-core/'

  - job: Build_2_12
    displayName: 'Build sources and run unit tests for Scala 2.12'
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
      - script: sbt ++2.12.8 clean
        displayName: 'Running $sbt clean'
      - script: sbt ++2.12.8 update
        displayName: 'Running $sbt update'
      - script: sbt ++2.12.8 compile
        displayName: 'Running $sbt compile'
      - script: sbt ++2.12.8 test
        displayName: 'Running $sbt test'
      # If not a pull request, publish artifacts.
      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        - script: sbt ++2.12.8 package
          displayName: 'Running $sbt package'
        - task: CopyFiles@2
          displayName: 'Copy hyperspace-core JAR'
          inputs:
            sourceFolder: '$(Build.SourcesDirectory)/target/'
            contents: '**/*.jar'
            targetFolder: '$(Build.ArtifactStagingDirectory)/hyperspace-core/'
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Hyperspace artifacts'
          inputs:
            artifactName: 'hyperspace-core'
            pathtoPublish: '$(Build.ArtifactStagingDirectory)/hyperspace-core/'
  - job: Build_2_11_WIN
    displayName: 'Build sources and run unit tests for Scala 2.11 on Windows'
    pool:
      vmImage: 'windows-2019'
    steps:
      - task: PowerShell@2
        displayName: Download Winutils.exe
        inputs:
          workingDirectory: $(Build.BinariesDirectory)
          pwsh: true
          targetType: inline
          script: |
            echo "Download Hadoop utils for Windows."
            curl -k -L -o hadoop.zip https://github.com/steveloughran/winutils/releases/download/tag_2017-08-29-hadoop-2.8.1-native/hadoop-2.8.1.zip
            unzip hadoop.zip
            New-Item -ItemType Directory -Force -Path hadoop\bin
            cp hadoop-2.8.1\winutils.exe hadoop\bin
      - task: JavaToolInstaller@0
        displayName: 'Set Java version'
        inputs:
          versionSpec: '8'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - script: sbt ++2.11.12 clean
        displayName: 'Running $sbt clean'
      - script: sbt ++2.11.12 update
        displayName: 'Running $sbt update'
      - script: sbt ++2.11.12 compile
        displayName: 'Running $sbt compile'
      - script: sbt ++2.11.12 test
        displayName: 'Running $sbt test'
        env:
            HADOOP_HOME: $(Build.BinariesDirectory)\hadoop
  - job: Build_2_12_WIN
    displayName: 'Build sources and run unit tests for Scala 2.12 on Windows'
    pool:
      vmImage: 'windows-2019'
    steps:
      - task: PowerShell@2
        displayName: Download Winutils.exe
        inputs:
          workingDirectory: $(Build.BinariesDirectory)
          pwsh: true
          targetType: inline
          script: |
            echo "Download Hadoop utils for Windows."
            curl -k -L -o hadoop.zip https://github.com/steveloughran/winutils/releases/download/tag_2017-08-29-hadoop-2.8.1-native/hadoop-2.8.1.zip
            unzip hadoop.zip
            New-Item -ItemType Directory -Force -Path hadoop\bin
            cp hadoop-2.8.1\winutils.exe hadoop\bin
      - script: sbt ++2.12.8 clean
        displayName: 'Running $sbt clean'
      - script: sbt ++2.12.8 update
        displayName: 'Running $sbt update'
      - script: sbt ++2.12.8 compile
        displayName: 'Running $sbt compile'
      - script: sbt ++2.12.8 test
        displayName: 'Running $sbt test'
        env:
            HADOOP_HOME: $(Build.BinariesDirectory)\hadoop
  - job: PythonTest
    displayName: 'Run Python tests'
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
      - task: UsePythonVersion@0
        displayName: 'Set Python version'
        inputs:
          versionSpec: '2.7'
          addToPath: true
      - task: JavaToolInstaller@0
        displayName: 'Set Java version'
        inputs:
          versionSpec: '8'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - script: sbt ++2.11.12 clean
        displayName: 'Running $sbt clean'
      - script: sbt ++2.11.12 update
        displayName: 'Running $sbt update'
      - script: sbt ++2.11.12 compile
        displayName: 'Running $sbt compile'
      - task: Bash@3
        inputs:
          filePath: 'script/download_spark.sh'
        displayName: 'Downloading spark'
      - task: PythonScript@0
        inputs:
          scriptSource: 'filePath'
          scriptPath: 'run-tests.py'
        displayName: 'Running python tests'
        env:
          SPARK_HOME: $(Build.SourcesDirectory)/spark-2.4.2-bin-hadoop2.7
