[alias]
	replace-symlinks = "!__git_replace_symlinks() {\nif [ -n \"$WINDIR\" ]; then\n  symlinks=`git ls-files -s | awk '/120000/{print $4}'`\n  cwd=`pwd`\n  for s in $symlinks; do\n    if [ -f $s ]; then\n      target=`cat $s`\n      dir=`dirname $s`\n      name=`basename $s`\n      cd $dir\n      if [ -d $target ]; then\n        cmd <<< \"mklink /J \\\"$name.link\\\" \\\"$target\\\"\" > /dev/null\n      else\n        cmd <<< \"mklink /H \\\"$name.link\\\" \\\"$target\\\"\" > /dev/null\n      fi\n      if [ ! -e $name.link ]; then\n        echo \"Failed to replace \\\"$s\\\" with a junction/hardlink\"\n        exit 1\n      fi\n      rm $name\n      mv $name.link $name\n      git update-index --assume-unchanged $name\n      echo \"Replaced symlink $s with a junction/hardlink\"\n      cd \"$cwd\"\n    fi\n  done\nfi\n}\n__git_replace_symlinks"
	restore-symlinks = "!__git_restore_symlinks() {\nsymlinks=`git ls-files -s | awk '/120000/{print $4}'`\nfor s in $symlinks; do\n  git update-index --no-assume-unchanged $s\n  rm $s\n  git checkout -- $s\n  echo \"Restored symlink $s\"\ndone\n}\n__git_restore_symlinks"
